<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
      border:3px solid black;
    }
    </style>

<body>
    <h1 style="background-color: lightblue ; text-align: 
            center; font-family:Arial, Helvetica, sans-serif; color: white ; 
            -webkit-text-stroke: 2px black; font-weight: bold">Elephant Api!</h1>
    <h4>This Api uses real elephants with interesting data about them like their name, dob/dod, and even some interesting
        facts about their lives!
    </h4>

    <table style="width:100%">

      <tr>
        <th>
            <p>{{dict.name}}</p>
            <img src="https://elephant-api.herokuapp.com/pictures/005.jpg" width="200" height="220">
            <p>{{dict.image}}</p>
            <p>{{dict.species}}</p>
            <p>{{dict.sex}}</p>
            <p>{{dict.DOB}}</p>
            <p>{{dict.DOD}}</p>
            <p>{{dict.notes}}</p>  
        </th>
        <th>
            <p>{{dict.name1}}</p>
            <img src="https://elephant-api.herokuapp.com/pictures/016.jpg" width="200" height="220">
            <p>{{dict.image1}}</p>
            <p>{{dict.species1}}</p>
            <p>{{dict.sex1}}</p>
            <p>{{dict.DOB1}}</p>
            <p>{{dict.DOD1}}</p>
            <p>{{dict.notes1}}</p>  
        </th>
        <th>
            <p>{{dict.name2}}</p>
            <img src="https://elephant-api.herokuapp.com/pictures/025.jpg" width="200" height="220">
            <p>{{dict.image2}}</p>
            <p>{{dict.species2}}</p>
            <p>{{dict.sex2}}</p>
            <p>{{dict.DOB2}}</p>
            <p>{{dict.DOD2}}</p>
            <p>{{dict.notes2}}</p>  
        </th>
      </tr>
      <tr>
        <th>
            <p>{{dict.name3}}</p>
            <img src="https://elephant-api.herokuapp.com/pictures/025.jpg" width="200" height="220">
            <p>{{dict.image3}}</p>
            <p>{{dict.species3}}</p>
            <p>{{dict.sex3}}</p>
            <p>{{dict.DOB3}}</p>
            <p>{{dict.DOD3}}</p>
            <p>{{dict.notes3}}</p>  
        </th>
        <th>
            <p>{{dict.name4}}</p>
            <img src="https://elephant-api.herokuapp.com/pictures/022.jpg" width="200" height="220">
            <p>{{dict.image4}}</p>
            <p>{{dict.species4}}</p>
            <p>{{dict.sex4}}</p>
            <p>{{dict.DOB4}}</p>
            <p>{{dict.DOD4}}</p>
            <p>{{dict.notes4}}</p>  
        </th>
        <th>
            <p>{{dict.name5}}</p>
            <img src="https://elephant-api.herokuapp.com/pictures/008.jpg" width="200" height="220">
            <p>{{dict.image5}}</p>
            <p>{{dict.species5}}</p>
            <p>{{dict.sex5}}</p>
            <p>{{dict.DOB5}}</p>
            <p>{{dict.DOD5}}</p>
            <p>{{dict.notes5}}</p>  
        </th>
      </tr>
    </table>
    
    <p>made with the elephant api</p>
  
</body>
</html> 