<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monterey Weather Broadcast</title>
    <link rel="stylesheet" href="../static/css/weather.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <p class="main-nav"><a href="{{ url_for('get_homepage') }}">Home</a> | <a href="{{ url_for('get_weather') }}">Weather Broadcast</a> | <a href="{{ url_for('get_pet') }}">Pet Adoption Page</a> | <a href="{{ url_for('hello') }}">Elephants</a></p>
<div class="container">
    <div class="image-section">
        <div class ="navigator">
            <button type="button" id="change_image">Change Image</button>
            <form id="filter_form" method="POST" action="{{ url_for('apply_filter') }}">
                <select class="filter" id="filter" name="filter">
                    <option value="none" selected disabled hidden>Select a Filter</option>
                    {% for filter in filters %}
                    <option value= "{{filter}}" >{{filter}}</option>"
                    {% endfor %}
                </select>
            </form>

        </div>
        <div class="weather-image" style="visibility: visible">
            <img id="weather-img" src='../static/images/{{ image_dict[0]["Name"] }}.jpg' alt="{{ image_dict[0]['Title'] }}" width="100%" height="80%"/>
        </div>
    </div>
    <div class="info-section">
        <div class="update-info">
            <button type="button" id ="update_info">Update Info</button>
        </div>
        <div class="temp-icon-section">
            <div class="temp-left">
                <img class="icon" src="../static/images/icon1.jpg" alt="Temperature Icon">
            </div>
            <div class="temp-right">
                <span>
                    <span class="weather-title">Temperature</span>
                    <p>
                        <span id="main_temp">{{ data['main']['temp'] }} </span><span class="info-hightlight">&deg;F</span>, feels like
                        <span id="feels_like">{{ data['main']['feels_like'] }} </span><span class="info-hightlight">&deg;F</span>. Humidity of
                        <span id="humidity">{{ data['main']['humidity'] }} </span><span class="info-hightlight">%</span>.
                    </p>
                </span>
            </div>
        </div>
        <div class="weather-icon-section">
            <div class="weather-left">
                <img class="icon" src="../static/images/icon2.jpg" alt="Weather Icon">
            </div>
            <div class="weather-right">
                <span>
                    <span class="weather-title">Weather</span>
                    <p>
                        <span id="weather_desc">{{ data['weather'][0]['description'] }} </span>, with
                        <span id="wind_speed">{{ data['wind']['speed'] }} </span><span class="info-hightlight">mph</span> winds from the
                        <span id="wind_dir">{{ data['wind']['dir'] }}</span>.
                    </p>
                </span>
            </div>
        </div>
        <div class="traffic-icon-section">
            <div class="traffic-left">
                <img class="icon" src="../static/images/icon3.jpg" alt="Traffic Icon">
            </div>
            <div class="traffic-right">
                <p>
                    <span class="weather-title">Traffic Condition</span>
                    <p>Incident Info: <span class="info-hightlight">{{ data['traffic']['description'] }}</span></p>
                    <p>Incident Level: <span class="info-hightlight">{{ data['traffic']['severity'] }}</span></p>
                    <p>Incident Type: <span class="info-hightlight"> {{ data['traffic']['incident_type'] }}</span></p>
                    <p>Road Status: <span class="info-hightlight">{{ data['traffic']['road_closed'] }}</span></p>
                </span>
            </div>
        </div>
        <div class="fun-fact">
            <p id="image-info">{{ image_dict[0]['Description'] }}</p>
        </div>
    </div>
</div>
</body>
<script>
        $(document).ready(function() {
           $('#change_image').click(function(){
               $.ajax({
                   url: "{{ url_for ('change_image') }}",
                   type: "GET",
                   success: function(response) {
                       $("#weather-img").attr("src", "../static/images/" + response["Name"] + ".jpg");
                       $("#weather-img").attr("alt", response["Title"]);
                       $("#image-info").html(response["Description"]);
                  },
             });
           });
        });

        $(document).ready(function() {
          $('#filter').change(function(){
            var filter = $("#filter").val();
            $.ajax({
              url : "{{ url_for('apply_filter') }}",
              type: 'POST',
              dataType: "html",
              contentType: 'application/json',
              data: JSON.stringify({
                "Filter": filter,
                }),
              success: function(response) {
                  $("#weather-img").attr("src", "../" + response)
              },
            });
          });
        });

        $(document).ready(function() {
            $('#update_info').click(function() {
                $.ajax({
                    url: "{{ url_for('update_info') }}",
                    type: "GET",
                    success: function(response) {
                        $("#main_temp").html(response["main"]["temp"]);
                        $("#feels_like").html(response["main"]["feels_like"]);
                        $("#humidity").html(response["main"]["humidity"]);
                        $("#weather_desc").html(response["weather"][0]['description']);
                        $("#wind_speed").html(response["wind"]["speed"]);
                        $("#wind_dir").html(response["wind"]["dir"])
                    },
                });
           });
        });
    </script>
</html>
