<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monterey Weather Broadcast</title>
    <link rel="stylesheet" href="../static/css/weather.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<p class="main-nav"><a href="{{ url_for('get_homepage') }}">Home</a> | <a href="{{ url_for('get_weather') }}">Weather Broadcast</a> | <a href="{{ url_for('get_pet') }}">Pet Adoption Page</a></p>
<div class="container">
    <div class="image-section">
        <div class ="navigator">
            <button type="button" id="change_image">Change Image</button>
            <form id="filter_form" method="POST" action="{{ url_for('apply_filter') }}">
                <select class="filter" id="filter" name="filter">
                    <option value="none" selected disabled hidden>Select a Filter</option>
                    {% for filter in filters %}
                    <option value= "{{filter}}" >{{filter}}</option>"
                    {% endfor %}
                </select>
            </form>

        </div>
        <div class="weather-image" style="visibility: visible">
            <img id="weather-img" src='../static/images/{{ image_dict[0]["Name"] }}.jpg' alt="{{ image_dict[0]['Title'] }}" width="100%" height="80%"/>
        </div>
    </div>
    <div class="info-section">
        <div class="update-info">
            <button type="button" id ="update_info">Update Info</button>
        </div>
        <div class="temp-icon-section">
            <img class="icon" src="../static/images/icon1.jpg" alt="Temperature Icon"><span>Temperature</span>
        </div>
        <div class="weather-icon-section">
            <img class="icon" src="../static/images/icon2.jpg" alt="Weather Icon"><span>Weather Condition</span>
        </div>
        <div class="traffic-icon-section">
            <img class="icon" src="../static/images/icon3.jpg" alt="Traffic Icon"><span>Traffic Condition</span>
        </div>
        <div class="fun-fact">
            <p id="image-info">{{ image_dict[0]['Description'] }}</p>
        </div>
    </div>
</div>
</body>
<script>
        $(document).ready(function() {
           $('#change_image').click(function(){
               $.ajax({
                   url: "{{ url_for ('change_image') }}",
                   type: "GET",
                   success: function(response) {
                       $("#weather-img").attr("src", "../static/images/" + response["Name"] + ".jpg");
                       $("#weather-img").attr("alt", response["Title"]);
                       $("#image-info").html(response["Description"]);
                  },
             });
           });
        });

        $(document).ready(function() {
          $('#filter').change(function(){
            var filter = $("#filter").val();
            $.ajax({
              url : "{{ url_for('apply_filter') }}",
              type: 'POST',
              dataType: "html",
              contentType: 'application/json',
              data: JSON.stringify({
                "Filter": filter,
                }),
              success: function(response) {
                  $("#weather-img").attr("src", "../" + response)
              },
            });
          });
        });
    </script>
</html>
